/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
    width: 100%;
    min-height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: inline;
    position: fixed;
    margin: auto;
    top: 7vh;

}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    display: inline;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    height: 7vh;
    background: rgba(1, 72, 100, 0.8);
    justify-content: space-between;
}
@media screen and (max-width: 449px) {
    #header {
        height: 8vh;
    }
}
#left_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

#header_logo {
    max-height: 5vh;
    margin: 1vh;
    float: left;
}

#header_title {
    color: #FFFFFF;
    line-height: 1;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
}

#undertitle {
    font-size: 1.5vh;

}

#title {
    color: white;
    margin-right: 15px;
    margin-top: 5px;
    display: flex;
    font-size: 4vw;
    width: 100%;
    justify-content: end;
}

#home_container {
    max-height: 80vh;
    padding-top: 9vh;
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 5vh;
    width: 100%;
    padding: 0;
}
.footer_container {
background: rgba(1, 72, 100, 0.8);
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

#footer h3 {
font-size: 2vw;
font-weight: 400;
color: #fff;
position: relative;
line-height: 5vh;
margin: 0 1vw 0 2vw;
}

#footer .social-links {
margin: 0 2vw;
}

#footer .social-links a {
font-size: 3vh;
display: inline-block;
background: #11303b;
color: #fff;
line-height: 0;
padding: 0.5vh 0;
border-radius: 50%;
text-align: center;
width: 4vh;
height: 4vh;
transition: 0.3s;
}

#footer .social-links a:hover {
background: #fdf003;
color: #11303b;
text-decoration: none;
}

@media screen and (min-width: 450px) and (max-width: 769px) {
    #footer h3 {
    font-size: 3vw;
}
}

@media screen and (max-width: 449px) {
    #footer {

    }
    #footer h3 {
        font-size: 2.5vw;
        line-height: 6vh;
    }
}
@media screen and (max-width: 449px) {
    #footer {
        height: 6vh;
}

    #footer h3 {
        font-size: 2.5vw;
        line-height: 6vh;
    }

    #footer .social-links {
        display: inline-block;
        margin: 1vh;
    }

    #footer .social-links a {
        position: relative;
        font-size: 5vw;
        width: 7vw;
        padding: 1vw;
        height: 7vw;
    }
}


/* SECTIONS */

.central {
    display: flex;
    top: 7vh;
    justify-content: center;
    padding: 4vw;
    align-items: center;
    height: 88vh;
    width: 100%;
    position: relative;
}

#landing, #input-section, #output-section {
    height: 88vh;
    width: 100%;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

#landing {
    margin: 0 auto;
}

#input-section, #output-section {
    justify-content: space-between;
}

#output-section {
    justify-content: flex-start;
}

/* LANDING PAGE */
#landing h1 {
    font-size: 2vw;
    font-weight: 600;
    color: #286076;
    text-align: center;
    margin-bottom: 2vh;
}

#landing p {
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 5px;
    width: 100%;
    max-width: 90vw;
}
@media screen and (max-width: 449px) {
    main{
        top: 8vh
    }
    #landing, #input-section, #output-section {
        height: 86vh;
        justify-content: flex-start;
    }
    #landing h1 {
        font-size: 4vw;
        margin-top: 1vh;
    }
    #landing p {
        font-size: 3.5vw;
        text-align: left;
    }

}
#title-line {
    width: 50%;
    color: #286076;
    border: 0.25vh solid #286076;
    border-radius: 0.125vh;
    size: auto;
    margin-top: -3vh
}

#cover_image {
    max-width: 85vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    max-height: 55vh;
}

/* BUTTONS */

.square_btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0;
    bottom: 5px;
    text-decoration: none;
    color: #286076;
}

.square_btn:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    top: 100%;
    left: 0;
    border-radius: 3px;
    background: #286076;
    transition: .2s;
}

.square_btn:hover:before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
}

button[type="submit"] {
    background: none;
    border: 0;
}
@media screen and (max-width: 449px) {
    .square_btn {
        top:1vh;
        bottom: 1vh
    }
}


/*INPUTS & OUTPUTS*/
#image-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 98vw;
    width: 95vw;
    height: 100%;
    justify-content: space-around;
}

#selected-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#selected-images div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#selected-images div div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox {
    margin-right: 10px;
}

.check_label {
    font-size: 1.5vw;
    margin-bottom: 0;
}

#selected-images img {
    margin: 10px;
}

#output-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.output_strips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px
}

.output_strips img {
    vertical-align: middle;
    border-style: none;
}
#input-description, #output-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 93%;
    margin-top: 1vw;
}

#output-description {
    justify-content: flex-start;
}

#input-description h1, #output-description h1 {
    display: block;
    padding-right: 1vw;
    margin-bottom: 0;
}

.vertical {
    border-left: 5px solid #286076;
    border-radius: 3px;
    padding-left: 10px;
    margin-bottom: 0;
    font-size: 14px;
}
@media screen and (max-width: 449px) {
    .check_label {
        font-size: 3vw;
    }
    #image-form{
        height: auto;
    }
    #selected-images {
        top: 10px;
        position: relative;
    }
    #input-description , #output-description {
        flex-direction: column;
    }

    .vertical {
        border-left: 0;
        border-top: 5px solid #286076;
        font-size: 3vw;
        padding-left: 0;
        padding-top: 1vh;
    }
    .output_strips {
        margin-top: 1vh;
    }
    .output_strips img {
        max-width: 31vw;
        height: 100%;
    }
}
.hidden_tag {
    visibility: hidden;
    display: none;
}

input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #11303b;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #fdf003;
    color: #11303b;
}
#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#or {
    padding: 0 10px;
}
#enlarged {
    display: flex;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 100%;
    height: 88%;
    position: fixed;
    justify-content: center;
    align-items: center;
}

#loader {
    /* Uncomment this to make it run! */
    /*
    /*
    */
    animation: loader 5s linear infinite;
    position: fixed;
    top: calc(50vh - 20px);
    left: calc(50vw - 20px);
}
#loading-text{
    transform: translate(-40px, -50px);
    border: 0;
}
@keyframes loader {
    0% {
        left: -100px
    }
    100% {
        left: 110%;
    }
}

#box {
    width: 50px;
    height: 50px;
    background: #205a6e;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}

@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }
    75% {
        transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}

#shadow {
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
}

@keyframes shadow {
    50% {
        transform: scale(1.2, 1);
    }
}